.icon {
    display: inline-block;
    width: 15px;
    height: 16px;
    margin: 3px 3px 0 0;
    background-size: 15px 16px;
}

.twitter-icon {
    background-image: url('icons/twitter.png');
}

.terms-icon {
    background-image: url('icons/terms.png');
}

.contact-icon {
    background-image: url('icons/contact.png');
}


.contact2-icon {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url('icons/contact2.png');
}

.heart-icon {
    width: 21px;
    height: 18px;
    background-size: 21px 18px;
    background-image: url('icons/heart.png');
}

.download-icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-image: url('icons/download.png');
}