.container {
	width: 170px;
	height: 45px;
	padding: 8px 12px;
	display: grid;
	grid-template-columns: 40px 1fr;

	color: white;

	mix-blend-mode: difference;
	border: 1px solid white;
	border-radius: 4px;
}

.image-container {
	height: 100%;
	max-width: 35px;
	display: grid;
	grid-template-columns: 40px 1fr;
	place-content: center;

	img {
		max-width: 100%;
	}
}

.text-container {
	margin-left: 10px;
	font-family: sans-serif;
}
